-- CreateEnum
CREATE TYPE "Role" AS ENUM ('OWNER', 'ADMIN', 'OPERATOR', 'VIEWER');

-- CreateEnum
CREATE TYPE "AccountStatus" AS ENUM ('CONNECTED', 'CONNECTION_PENDING', 'TOKEN_EXPIRED', 'AUTHENTICATION_ERROR', 'PERMISSION_ERROR', 'DISCONNECTED', 'DISABLED', 'DEMO');

-- CreateEnum
CREATE TYPE "SkuJobStatus" AS ENUM ('PENDING', 'VALIDATING', 'QUEUED', 'PROCESSING', 'CONFIRMING', 'SUCCESS', 'WARNING', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ImportJobStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'COMPLETED_WITH_ERRORS', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "organizations" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "googleId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "role" "Role" NOT NULL DEFAULT 'ADMIN',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "marketplace_accounts" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "marketplace" TEXT NOT NULL,
    "accountName" TEXT NOT NULL,
    "externalAccountId" TEXT,
    "sellerId" TEXT,
    "shopId" TEXT,
    "status" "AccountStatus" NOT NULL DEFAULT 'CONNECTED',
    "isDemo" BOOLEAN NOT NULL DEFAULT false,
    "accessTokenEncrypted" TEXT NOT NULL,
    "refreshTokenEncrypted" TEXT,
    "tokenExpiresAt" TIMESTAMP(3),
    "scopesJson" TEXT,
    "connectionMetadataJson" TEXT,
    "lastSyncAt" TIMESTAMP(3),
    "lastImportAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "marketplace_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "marketplace_listings" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "marketplaceAccountId" TEXT NOT NULL,
    "externalListingId" TEXT NOT NULL,
    "externalProductId" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "categoryId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "listingUrl" TEXT,
    "rawDataJson" TEXT,
    "importedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "marketplace_listings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "marketplace_variations" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "marketplaceListingId" TEXT NOT NULL,
    "externalVariationId" TEXT NOT NULL,
    "externalModelId" TEXT,
    "variationName" TEXT NOT NULL,
    "attributesJson" TEXT,
    "currentSku" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "stock" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "rawDataJson" TEXT,
    "importedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "marketplace_variations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "master_products" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "masterSku" TEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "productType" TEXT,
    "theme" TEXT,
    "size" TEXT,
    "designCode" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "master_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_mappings" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "masterProductId" TEXT NOT NULL,
    "marketplaceAccountId" TEXT NOT NULL,
    "marketplaceListingId" TEXT NOT NULL,
    "marketplaceVariationId" TEXT,
    "currentMarketplaceSku" TEXT NOT NULL,
    "synchronizationEnabled" BOOLEAN NOT NULL DEFAULT true,
    "mappingType" TEXT NOT NULL DEFAULT 'MANUAL',
    "confidenceScore" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "mappingMetadataJson" TEXT,
    "confirmedByUser" BOOLEAN NOT NULL DEFAULT true,
    "lastSyncedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "product_mappings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "import_jobs" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "marketplaceAccountId" TEXT NOT NULL,
    "requestedBy" TEXT NOT NULL,
    "status" "ImportJobStatus" NOT NULL DEFAULT 'PENDING',
    "totalListings" INTEGER NOT NULL DEFAULT 0,
    "processedListings" INTEGER NOT NULL DEFAULT 0,
    "totalVariations" INTEGER NOT NULL DEFAULT 0,
    "processedVariations" INTEGER NOT NULL DEFAULT 0,
    "createdListings" INTEGER NOT NULL DEFAULT 0,
    "updatedListings" INTEGER NOT NULL DEFAULT 0,
    "failedListings" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "import_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "import_job_errors" (
    "id" TEXT NOT NULL,
    "importJobId" TEXT NOT NULL,
    "externalListingId" TEXT,
    "externalVariationId" TEXT,
    "errorCode" TEXT NOT NULL,
    "errorMessage" TEXT NOT NULL,
    "rawErrorJson" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "import_job_errors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sku_change_jobs" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "requestedBy" TEXT NOT NULL,
    "operationType" TEXT NOT NULL DEFAULT 'BULK_SKU_UPDATE',
    "status" "SkuJobStatus" NOT NULL DEFAULT 'PENDING',
    "totalItems" INTEGER NOT NULL DEFAULT 0,
    "pendingItems" INTEGER NOT NULL DEFAULT 0,
    "processingItems" INTEGER NOT NULL DEFAULT 0,
    "successfulItems" INTEGER NOT NULL DEFAULT 0,
    "failedItems" INTEGER NOT NULL DEFAULT 0,
    "cancelledItems" INTEGER NOT NULL DEFAULT 0,
    "previewDataJson" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "sku_change_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sku_change_job_items" (
    "id" TEXT NOT NULL,
    "skuChangeJobId" TEXT NOT NULL,
    "productMappingId" TEXT NOT NULL,
    "marketplaceAccountId" TEXT NOT NULL,
    "marketplaceListingId" TEXT NOT NULL,
    "marketplaceVariationId" TEXT,
    "oldSku" TEXT NOT NULL,
    "newSku" TEXT NOT NULL,
    "status" "SkuJobStatus" NOT NULL DEFAULT 'PENDING',
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "idempotencyKey" TEXT NOT NULL,
    "externalResponseJson" TEXT,
    "errorCode" TEXT,
    "errorMessage" TEXT,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sku_change_job_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inventory_items" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "masterProductId" TEXT NOT NULL,
    "totalStock" INTEGER NOT NULL DEFAULT 0,
    "reservedStock" INTEGER NOT NULL DEFAULT 0,
    "safetyBuffer" INTEGER NOT NULL DEFAULT 2,
    "availableStock" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "inventory_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "userId" TEXT,
    "action" TEXT NOT NULL,
    "resourceType" TEXT NOT NULL,
    "resourceId" TEXT NOT NULL,
    "marketplace" TEXT,
    "marketplaceAccountId" TEXT,
    "oldValueJson" TEXT,
    "newValueJson" TEXT,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "organizations_slug_key" ON "organizations"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "users_googleId_key" ON "users"("googleId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_organizationId_idx" ON "users"("organizationId");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "marketplace_accounts_organizationId_idx" ON "marketplace_accounts"("organizationId");

-- CreateIndex
CREATE INDEX "marketplace_accounts_marketplace_idx" ON "marketplace_accounts"("marketplace");

-- CreateIndex
CREATE INDEX "marketplace_accounts_sellerId_idx" ON "marketplace_accounts"("sellerId");

-- CreateIndex
CREATE INDEX "marketplace_accounts_shopId_idx" ON "marketplace_accounts"("shopId");

-- CreateIndex
CREATE INDEX "marketplace_listings_organizationId_idx" ON "marketplace_listings"("organizationId");

-- CreateIndex
CREATE INDEX "marketplace_listings_marketplaceAccountId_idx" ON "marketplace_listings"("marketplaceAccountId");

-- CreateIndex
CREATE INDEX "marketplace_listings_externalListingId_idx" ON "marketplace_listings"("externalListingId");

-- CreateIndex
CREATE UNIQUE INDEX "marketplace_listings_marketplaceAccountId_externalListingId_key" ON "marketplace_listings"("marketplaceAccountId", "externalListingId");

-- CreateIndex
CREATE INDEX "marketplace_variations_organizationId_idx" ON "marketplace_variations"("organizationId");

-- CreateIndex
CREATE INDEX "marketplace_variations_marketplaceListingId_idx" ON "marketplace_variations"("marketplaceListingId");

-- CreateIndex
CREATE INDEX "marketplace_variations_externalVariationId_idx" ON "marketplace_variations"("externalVariationId");

-- CreateIndex
CREATE INDEX "marketplace_variations_currentSku_idx" ON "marketplace_variations"("currentSku");

-- CreateIndex
CREATE UNIQUE INDEX "marketplace_variations_marketplaceListingId_externalVariati_key" ON "marketplace_variations"("marketplaceListingId", "externalVariationId");

-- CreateIndex
CREATE INDEX "master_products_organizationId_idx" ON "master_products"("organizationId");

-- CreateIndex
CREATE INDEX "master_products_masterSku_idx" ON "master_products"("masterSku");

-- CreateIndex
CREATE INDEX "product_mappings_organizationId_idx" ON "product_mappings"("organizationId");

-- CreateIndex
CREATE INDEX "product_mappings_masterProductId_idx" ON "product_mappings"("masterProductId");

-- CreateIndex
CREATE INDEX "product_mappings_marketplaceAccountId_idx" ON "product_mappings"("marketplaceAccountId");

-- CreateIndex
CREATE INDEX "product_mappings_marketplaceListingId_idx" ON "product_mappings"("marketplaceListingId");

-- CreateIndex
CREATE INDEX "product_mappings_marketplaceVariationId_idx" ON "product_mappings"("marketplaceVariationId");

-- CreateIndex
CREATE INDEX "import_jobs_organizationId_idx" ON "import_jobs"("organizationId");

-- CreateIndex
CREATE INDEX "import_jobs_marketplaceAccountId_idx" ON "import_jobs"("marketplaceAccountId");

-- CreateIndex
CREATE INDEX "import_job_errors_importJobId_idx" ON "import_job_errors"("importJobId");

-- CreateIndex
CREATE INDEX "sku_change_jobs_organizationId_idx" ON "sku_change_jobs"("organizationId");

-- CreateIndex
CREATE INDEX "sku_change_jobs_status_idx" ON "sku_change_jobs"("status");

-- CreateIndex
CREATE UNIQUE INDEX "sku_change_job_items_idempotencyKey_key" ON "sku_change_job_items"("idempotencyKey");

-- CreateIndex
CREATE INDEX "sku_change_job_items_skuChangeJobId_idx" ON "sku_change_job_items"("skuChangeJobId");

-- CreateIndex
CREATE INDEX "sku_change_job_items_idempotencyKey_idx" ON "sku_change_job_items"("idempotencyKey");

-- CreateIndex
CREATE INDEX "sku_change_job_items_status_idx" ON "sku_change_job_items"("status");

-- CreateIndex
CREATE UNIQUE INDEX "inventory_items_masterProductId_key" ON "inventory_items"("masterProductId");

-- CreateIndex
CREATE INDEX "inventory_items_organizationId_idx" ON "inventory_items"("organizationId");

-- CreateIndex
CREATE INDEX "audit_logs_organizationId_idx" ON "audit_logs"("organizationId");

-- CreateIndex
CREATE INDEX "audit_logs_createdAt_idx" ON "audit_logs"("createdAt");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "marketplace_accounts" ADD CONSTRAINT "marketplace_accounts_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "marketplace_listings" ADD CONSTRAINT "marketplace_listings_marketplaceAccountId_fkey" FOREIGN KEY ("marketplaceAccountId") REFERENCES "marketplace_accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "marketplace_variations" ADD CONSTRAINT "marketplace_variations_marketplaceListingId_fkey" FOREIGN KEY ("marketplaceListingId") REFERENCES "marketplace_listings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "master_products" ADD CONSTRAINT "master_products_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_mappings" ADD CONSTRAINT "product_mappings_masterProductId_fkey" FOREIGN KEY ("masterProductId") REFERENCES "master_products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_mappings" ADD CONSTRAINT "product_mappings_marketplaceAccountId_fkey" FOREIGN KEY ("marketplaceAccountId") REFERENCES "marketplace_accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_mappings" ADD CONSTRAINT "product_mappings_marketplaceListingId_fkey" FOREIGN KEY ("marketplaceListingId") REFERENCES "marketplace_listings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_mappings" ADD CONSTRAINT "product_mappings_marketplaceVariationId_fkey" FOREIGN KEY ("marketplaceVariationId") REFERENCES "marketplace_variations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "import_jobs" ADD CONSTRAINT "import_jobs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "import_jobs" ADD CONSTRAINT "import_jobs_marketplaceAccountId_fkey" FOREIGN KEY ("marketplaceAccountId") REFERENCES "marketplace_accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "import_job_errors" ADD CONSTRAINT "import_job_errors_importJobId_fkey" FOREIGN KEY ("importJobId") REFERENCES "import_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_jobs" ADD CONSTRAINT "sku_change_jobs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_job_items" ADD CONSTRAINT "sku_change_job_items_skuChangeJobId_fkey" FOREIGN KEY ("skuChangeJobId") REFERENCES "sku_change_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_job_items" ADD CONSTRAINT "sku_change_job_items_productMappingId_fkey" FOREIGN KEY ("productMappingId") REFERENCES "product_mappings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_job_items" ADD CONSTRAINT "sku_change_job_items_marketplaceAccountId_fkey" FOREIGN KEY ("marketplaceAccountId") REFERENCES "marketplace_accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_job_items" ADD CONSTRAINT "sku_change_job_items_marketplaceListingId_fkey" FOREIGN KEY ("marketplaceListingId") REFERENCES "marketplace_listings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sku_change_job_items" ADD CONSTRAINT "sku_change_job_items_marketplaceVariationId_fkey" FOREIGN KEY ("marketplaceVariationId") REFERENCES "marketplace_variations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_items" ADD CONSTRAINT "inventory_items_masterProductId_fkey" FOREIGN KEY ("masterProductId") REFERENCES "master_products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

